# IDEA
/.idea
*.iml

# Eclipse
/.project

# Ignore Node Modules
/node_modules/*

# Ignore CI
/compiled_spec/*
/coverage/*

# Ignore tscache
.tscache

# Ignore .baseDir related things
#  These are only used as transient items due to compiling TypeScript. They may
#  become useful when the project can fully move to TypeScript.
.baseDir.ts
.baseDir.js
.baseDir.js.map
