/* ==============================
    CommentCoreLibrary Styles
============================== */

/* wrapper */
#player{
    height: 430px;
    width: 950px;
    border: groove 0.2em gray;
    border-radius: 3px;
}

/* FullScreen */
:-moz-full-screen .ls{
    height: 100%;
    width: 100%;
}
:-moz-full-screen .abp{
    height: calc(100% - 25px);
    width: 100%;
}
:-webkit-full-screen .ls{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
:-webkit-full-screen .abp{
    height: -webkit-calc(100% - 25px);
    width: 100%;
}
:full-screen{
    margin:10px 0 0 0; width:100%; height:100%;
}

/* left section */
.ls{
	float: left;
}

/* display */
.abp{
	position:relative;
	width:540px;
	height:405px;
	background:#000;
}
.abp video{
    width: 100%;
    height: 100%;
}

/* comment input field */
.ls form#danmu{
	width: 100%;
    background: lightgrey;
    text-align:  center;
}

/* yt fix */
.abp #ytTitleFix{
	position: absolute;
	width: 100%;
	height: 60px;
	z-index: 2;
}
.abp #ytFullHide{
	position: absolute;
	right: 0px;
	width: 138px;
	height: 30px;
	z-index: 3;
}

/* Comment Overlay */
.abp .container{
	overflow:hidden;
	display:block;
	z-index:1;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.abp .container .cmt{
	padding:3px 0 0 0;margin:0;
	line-height:100%;
	font-family:Simhei,Simsun,Heiti,"MS Mincho","Meiryo","Microsoft Yahei",monospace;
	font-weight:bold;
	text-decoration:none;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color:#fff;
	letter-spacing:0;
	font-size:25px;
	position:absolute;
	word-break:none;
	text-wrap:none;
	pointer-events: none;
	border:0 !important;
}

.cmt.noshadow{
	text-shadow: none !important;
	-webkit-text-stroke: none !important;
}

.webkit-helper{
	text-shadow: none;
	-webkit-text-stroke: 0.2px black;
	font-weight:bold;
}