#player{
	position:relative;
	margin:0;padding:0;
	width:640px;height:480px;
	background:#000;
}

#player:full-screen{ margin:10px 0 0 0; width:100%; height:100%;}
#player:-webkit-full-screen{ margin:10px 0 0 0; width:100%; height:100%;}
#player:-moz-full-screen{ margin:10px 0 0 0; width:100%; height:100%;}
#player:-ms-full-screen{ margin:10px 0 0 0; width:100%; height:100%;}
