div.abp{
	position:relative;
}
.abp .container{
	overflow:hidden;
	display:block;
	z-index:9999;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	border:0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.abp .container .cmt{
	padding:3px 0 0 0;margin:0;
	line-height:100%;
	font-family:Simhei,Simsun,Heiti,"MS Mincho","Meiryo","Microsoft Yahei",monospace;
	text-decoration:none;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color:#fff;
	letter-spacing:0;
	font-size:25px;
	position:absolute;
	word-break:none;
	text-wrap:none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	white-space: pre;
}
.cmt.noshadow{
	text-shadow: none !important;
	-webkit-text-stroke: none !important;
}
.cmt.rshadow{
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white !important;
}
